* {
  color: #565656;
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
}

model-viewer {
  height: 55vh;
  height: calc(var(--vh, 1vh) * 60);
  width: 65vw;
  margin: 0 auto;
  contain: inherit;
}

small {
  display: block;
  margin-bottom: 4px;
}

#ar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 58vh;
  top: calc(var(--vh, 1vh) * 62);
  right: 0;
  left: 0;
  width: 55vw;
  padding: 8px 0;
  margin: 0 auto;
  z-index: 20;
  background-color: white;
  border: solid 1px #565656;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.fa-angle-right {
  font-size: 22px;
  margin-left: 4px;
  position: relative;
  top: 1.5px;
}

#ar-description-text {
  width: 90%;
  margin: 0 auto;
  top: 70vh;
  top: calc(var(--vh, 1vh) * 72);
  right: 0;
  left: 0;
  position: absolute;
  font-size: 12px;
  text-align: center;
  line-height: 1.6;
}

#pc-alert-text {
  display: none;
  width: 90%;
  margin: 0 auto;
  top: 60vh;
  top: calc(var(--vh, 1vh) * 65);
  right: 0;
  left: 0;
  position: absolute;
  font-size: 18px;
  text-align: center;
  line-height: 1.8;
}
